@import 'Colors.scss';
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background:$body-bg-color 0% 0% no-repeat padding-box;
    opacity: 1;
    color: $body-font-color;
    font-family: 'Poppins', sans-serif;
}
.boxContainer {
    position: relative;
    margin: 1em auto 0;
    .boxOverlay {
        height: 480px;
        width: 480px;
        border: 2px dashed #FFFFFF;
        border-radius: 46px;
        opacity: .11
    }
    .boxContent {
        opacity: 1;
        position: absolute;
        top: 2em;
        left: 2em;
        bottom: 2em;
        right: 2em;
        border: 2px solid #000;
        border-radius: 20px;
        background-color: #253952;
        h3 {
            margin-top: 2em;
            text-align: center;
            font-weight: normal;
            letter-spacing: 0.83px;
            span {
                color: #FBA202;
                font-weight: 500;
            }
        }
        .formContainer {
            width: 300px;
            margin: auto;
            .formGroup {
                margin-top: 1.5em;
                label {
                    display: block;
                    font-size: 0.7em;
                    margin-bottom: 0.5em;
                }
                input[type="text"] {
                    width: 260px;
                    height: 20px;
                    border: 1px solid #F0F0F0;
                    border-radius: 2px;
                    background: transparent;
                    padding: 1em 1.3em;
                    color: #FFF;
                    &:focus {
                        outline: none;
                    }
                }
            }
            .btnSubmit {
                height: 49px;
                background: transparent linear-gradient(270deg, #FBA202 0%, #FF5800 100%) 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 6px #000000;
                border-radius: 2px;
                opacity: 1;
                width: 300px;
                border: none;
                outline: none;
                color: #FFF;
                margin-top: 1.7em;
            }
        }
    }
}

.cross {
    width: 75px;
    height: 75px;
    position: relative;
    margin: auto;
    top: 40px;
    &:after {
        content: '';
        height: 60px;
        border-left: 10px solid #FFF;
        position: absolute;
        transform: rotate(45deg);
        left: 28px;
    }
    &:before {
        content: '';
        height: 60px;
        border-left: 10px solid #FFF;
        position: absolute;
        transform: rotate(-45deg);
        left: 28px;
    }
}
.zero {
    width: 50px;
    height: 50px;
    position: relative;
    margin: auto;
    top: 35px;
    border: 10px solid #FFF;
    border-radius: 50%;
}
  